---
title: Dancemedia
---

<section class="container px-4 mx-auto">
  <div class="max-w-5xl mx-auto">
    <h3 class="text-center font-bold mb-8 text-3xl">Dancemedia</h3>

    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Dance Magazine is an influential American trade publication for dance
      Dance Magazine has multiple sister publications, including Pointe, Dance Spirit, Dance Teacher, Dance 212,
      and DanceU101. Website's design were outdated and they searched for optimal ways to keep readers attention
      to the articles to improve as well advertisemnt on their publications.
    </p>

    <figure class="text-center mb-32">
      <figcaption class="text-gray-600 font-futura mb-6">
        Art Direction, UX Startegy & UI
      </figcaption>
      <img
        class="mx-auto mb-32"
        src="../img/first-image-dancemedia.jpg"
        alt="moodbard dancemedia"
      />
    </figure>

    <h3 class="text-center font-bold mb-8 text-3xl">Moodboard</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Dance is all about movement, curve or sharp, fast or slow rhythms,
      repetition, choreographies... We wanted some elegance and simplicity for
      the website, and because dance is about body and the essenciality of its
      movements, the colors are just white, black and the orange of the brand.
      Orange appeared like the body in movement, that, as the fire, leaves its
      light trail on the space. The website is full of geometric forms and
      curves that stablish this connection with movement and freedom..
    </p>
    <img
      class="mb-32 mx-auto"
      src="../img/moodboard-dancemagazine.png"
      alt="moodboard dancemedia"
    />

    <h3 class="font-bold mb-8 text-3xl">Colours</h3>
    <div class="md:grid grid-cols-2 gap-16 mb-32">
      <p class="text-2xl mx-auto text-gray-800 mb-8">
        The palette is made of its essencial colors: black, white and orange. While
        orange is the main brand's color, white works as an airy background, fluid
        and fresh, and black as a high contrast texts.
      </p>
      <img
        class="mx-auto"
        src="../img/colors-dancemedia.png"
        alt="colors dancemedia"
      />
    </div>

    <h3 class="text-center font-bold mb-8 text-3xl">Styles & Typography</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Dancemedia needed a typeface that was fresh, a bit elegant and with good
      redability for big titles and body text. Helvetica us a universal stylish
      typography that allows a lot of options for big titles and small text. Almost all
      the website text is built with a light weight, allowing bigger texts and adding
      this extra light texture and elegance.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/typography-dancemedia.png"
      alt="typo dancemedia"
    />
    <img
      class="mx-auto mb-32"
      src="../img/text-sample-dancemedia.png"
      alt="text sample dancemedia"
    />

    <div class="md:grid grid-cols-2 gap-16">
      <div>
        <h3 class="font-bold mb-8 text-3xl">Homepage Layout</h3>
        <p class="text-2xl mx-auto text-gray-800 mb-8">
          Content layouts were used to incorporate all the different elements
          and features we wanted on the different pages. These content blocks allowed
          us to identify what content was important to users on each page. This
          is what the layouts above looked like without images added. A very important
          element was the infinite scroll model, where we allow users to keep scrolling
          and reading the content in the same page, without jumping between pages.
        </p>
      </div>
      <img
        class="mx-auto mb-32"
        src="../img/homepage-layout-dancemedia.png"
        alt="homepage layout dancemedia"
      />
    </div>

    <h3 class="text-center font-bold mb-8 text-3xl">Final Pages</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      This is the result of the different pages I designed (homepage, aticle page, category
      page and navbar's dropdowns. The structure should be very simple and flexible to
      add different modules such as newsletter's modules, paper magazine, social media,
      quizzes, events, etc.

      </address>
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/final-pages-dancemedia.png"
      alt="final pages dancemedia"
    />
  </div>
</section>
