---
title: Mixed
---

<section class="container px-4 mx-auto">
  <div class="max-w-5xl mx-auto">
    <h3 class="text-center font-bold mb-8 text-3xl">Mixed Republic</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Mixed Republic is a platform dedicated to supporting and amplifying the
      world of handmade printing, both raising awareness online and offering
      space and equipment offline. The company encourages and facilitates the
      realisation of new artistic proposals and slow production techniques that
      connect the mind and heart through the hands.
    </p>

    <figure class="text-center mb-32">
      <figcaption class="text-gray-600 font-futura mb-6">Research & Strategy, Content Managing, Branding, Logo Design, Collaterals
      & Web Design.</figcaption>
      <img class="mx-auto" src="../img/logo-low.jpg" alt="logo-low" />
    </figure>

    <h3 class="text-center font-bold mb-8 text-3xl">Moodboard</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      We were seeking to identify an aesthetic approach that evoked the classic
      handmade printing process. I took repetitive images such as a stamped
      border, the CMYK color mode and bold, easy-to-print typography.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/mixed-moodbard.jpg"
      alt="mixed-moodbard"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Colours</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      I chose white and black combined with pixelated photographs – an element
      that is commonly used in silkscreen printing. To be able to print a photo
      using this popular handmade printing technique, you have to convert the
      image to CMYK dots, resulting in an illusion of a picture that uses the
      entire colour spectrum. This CMYK pixelated background has become the most
      recognisable element of the Mixed Republic brand.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/colors-mixed.jpg"
      alt="colors-mixed"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Logo marks</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      The pixelated version would be used universally - except when a given
      format would not allow it. In such cases, it would be necessary to use the
      positive or negative version of the black and white logo.
    </p>
    <img class="mx-auto mb-32" src="../img/logos-mixed.jpg" alt="logos-mixed" />

    <h3 class="text-center font-bold mb-8 text-3xl">Typography</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Raleway is a great font for its boldness and cleanness in particular its
      Light version, which is both clear and readable.
    </p>
    <img class="mx-auto mb-32" src="../img/tipo-mixed.png" alt="tipo-mixed" />

    <h3 class="text-center font-bold mb-8 text-3xl">Collaterals</h3>
    <img class="mx-auto mb-32" src="../img/mr-targetas.jpg" alt="mr-targetas" />
    <img class="mx-auto mb-32" src="../img/mixed-totes.jpg" alt="mixed-totes" />

    <h3 class="text-center font-bold mb-8 text-3xl">Web page</h3>
    <img
      class="mx-auto mb-32"
      src="../img/mixed-computer.jpg"
      alt="mixed-computer"
    />
    <img
      class="mx-auto mb-32"
      src="../img/mixed-pantallazo.2.jpg"
      alt="mixed-pantallazo2"
    />
  </div>
</section>
