---
title: Gather
---
<section class="container">
  <div class="container-small">
    <div class="description">
      <h3>GATHER</h3>
      <h4>Gather is a job search engine made for developers and UX/UI designers. It allows to search and find a new job faster, easier and more effective by matching your
        professional experience, skills and personal traits with the perfect role in the perfect company.
      </h4>
      <h5>UX Research & Strategy, Branding, Logo Design, UI & Interactions</h5>
      <img src="../img/trash-gather.gif" alt="trash interaction"/>
      <img src="../img/pantallas-gather-app-gif.gif" alt="interaction-gif"/>
      <h3>User research & User insights</h3>
      <h4>I made a lot of research by interviewing developers, designers and recruiters and iterating the applied results in my product. For developers and designers,
        the main problem was the hard work implied in searching for a new job (to fill the profile and experience in 5 platforms in average), and the impersonality and coldness
        of the process. They wanted to know more about companies and waste less time. Recruiters know how difficult is to find a good professional in these fields and want an
        accurate tool to find the perfect candidate.
      </h4>
      <img src="../img/research-questions-gather.png" alt="research questions"/>
      <h3>User personas</h3>
      <img src="../img/user-personas-gather.png" alt="user personas"/>
      <h3>Benchmarking</h3>
      <img src="../img/benchmarket-gather.png" alt="benchmarking gather"/>
      <h3>Candidate Flowchart</h3>
      <img src="../img/flowchart-gather.png" alt="flowchart candidate"/>
      <h3>Recruiter Flowchart</h3>
      <img src="../img/flowchart2-gather.png" alt="flowchart recruiter"/>
      <h3>Moodboards</h3>
      <h4>The essence of this product is its clearness and efficiency. I also wanted to highlight a friendly feeling cause one of the main cores of the product is the closer
        treatment between recruiter and candidate. Fresh colors and drawings are present in all the app. Gather also refers to seed with effort and then gather the results to have
        the best job, so the app is full of signs related with field harvest.</h4>
      <img src="../img/moodboard-gather.png" alt="gather-moodbard"/>
      <h3>Colors</h3>
      <h4>The palette is vibrant and energetic, with colors that combine between them without problems. Green is the color of the fields but also of hope and peaceful attitude.
        Playful blue and pink highlight the important parts of the app and blue-greys help to reduce the huge impact of bright colors when necessary.
      </h4>
      <img src="../img/palette-gather.png" alt="colors-gather"/>
      <h3>Typography</h3>
      <h4>Proxima Nova has been chosen for its neutrality and readability. The product is oriented to designers too, so it must be appealing but not too relevant.</h4>
      <img src="../img/tipo-gather.png" alt="tipo-gather"/>
      <h3>Icons</h3>
      <h4>I selected line icons, simple but elegant, because icons are a great part of the app. They help not only to guide the user but to get rid of the boredom that normally
        we find in job lists.</h4>
      <img src="../img/icons-gather.png" alt="icons-gather"/>
      <h3>Mobile UI Design</h3>
      <h4>Based in the idea of clearness and effectiveness, the app is very visual and easy to use. It is made to perform in the phone, so I tried to get rid off of long scrolls and made it intuitive.</h4>
      <img src="../img/pantalles-gather.jpg" alt="gather-screens"/>
      <h3>Desktop version</h3>
      <h4>Recruiters work everyday searching for the perfect candidates. I thought of them doing a desktop version to work faster and more comfortable.</h4>
      <img src="../img/desktop.gif" alt="desktop-recruiter"/>
      <h3>Interactions</h3>
      <h4>Interactions are a main part of the app. All the cards have different functions (delete, set an interview, apply to a job) and I also took the idea to slide right or left
        from Tinder, to like or dislike the offer.</h4>
      <img src="../img/gather-walkthrough-web.gif" alt="walkthrough-gif"/>
      <img src="../img/create-profile-gather.gif" alt="profile-gif"/>
    </div>
  </div>
</section>
