---
title: Kiwi
---

<section class="container px-4 mx-auto">
  <div class="max-w-5xl mx-auto">
    <h3 class="text-center font-bold mb-8 text-3xl">Kiwi Kitchen</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Kiwi Kitchen is an exquisite Barcelona-based brand of pies with authentic
      New Zealand taste. Kiwi Kitchen’s pies are made with the finest natural
      ingredients using both traditional and modern recipes. The company’s
      vision is to bring this authentic and simple food item to new markets,
      starting in Barcelona. Simple, natural and easy were the brand values at
      play when I was developing the company’s branding and logo design.
    </p>

    <figure class="text-center mb-32">
      <figcaption class="text-gray-600 font-futura mb-6">
        Research & Strategy, Art Direction, Branding, Logo Design, Collaterals
        and Web Design.
      </figcaption>
      <img
        class="mx-auto mb-32"
        src="../img/etiquetas-kiwi.jpg"
        alt="etiquetas-kiwi"
      />
    </figure>

    <h3 class="text-center font-bold mb-8 text-3xl">Moodboard</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Kiwi Kitchen’s branding is based on the simplicity of the pies: easy to
      eat wherever you are, beautifully rounded and filled with goodness. The
      client also wanted to express the origins of the pies in a fresh, informal
      way. My research began by looking at funny and irregular fonts, a vibrant
      colour palette and simple illustrations featuring elements from the
      natural world.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/moodboard-kiwi.jpg"
      alt="moodboard-kiwi"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Colours</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      The main logo colour is luminous yellow blended with its complementary
      violet. This combination conveys fun and yumminess. Bright pink is used to
      emphasize elements. A wider palette of colours is used for recipe text.
    </p>
    <img class="mx-auto mb-32" src="../img/colors-kiwi.jpg" alt="colors-kiwi" />

    <h3 class="text-center font-bold mb-8 text-3xl">Logo marks</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      The yellow and violet version of the logo is used on white backgrounds.
      There are also black and white variations of the logo for use on other
      backgrounds such as a cardboard texture or the different block colours
      used for recipes.
    </p>
    <img class="mx-auto mb-32" src="../img/logos-kiwi.jpg" alt="logos-kiwi" />

    <h3 class="text-center font-bold mb-8 text-3xl">Typography</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      I've chosen Slackey for its playful effect and the dynamic contrasts
      between its upper and lower cases, and Georgia for smaller lettering as
      its simple and elegant form works perfectly for fine print.
    </p>
    <img class="mx-auto mb-32" src="../img/tipo-kiwi.png" alt="tipo-kiwi" />

    <h3 class="text-center font-bold mb-8 text-3xl">Collaterals</h3>
    <img
      class="mx-auto mb-32"
      src="../img/muntatge-kiwi.png"
      alt="muntatge-kiwi"
    />
    <img class="mx-auto mb-32" src="../img/kiwi-comp.jpg" alt="kiwi-comp" />

    <h3 class="text-center font-bold mb-8 text-3xl">Web page</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Coming soon...
    </p>
  </div>
</section>
