---
title: Childline India
---
<section class="container">
  <div class="container-small">
    <div class="description">
      <h3>CHILDLINE INDIA</h3>
      <h4>Childline India is a Line Call service that helps indian children that are in situations of abuse or violence to get support. It is present in the whole country and 24 hours a day. Children are able to call any time and volunteers go directly to
        the point of conflict. They also collaborate hand to hand with other national services to organize events or bigger campaigns for this cause. My aim was to highlight the donation path, to make the foundation grow in resources to help children in
        need. Essential information has been organized and more attractive content related with the campaigns has been added to engage with users.
      </h4>
      <h5>UX Research & Strategy, UI & interactions.</h5>
      <img src="../img/mockup-phone-childline.jpg" alt="phone-childline"/>
      <h3>User research & User insights</h3>
      <h4>Two segments of user has been researched in this flow. On one side, the potential donors or the skeptics, the ones that are sensitive to human and social rights but don't trust in NGOs because
        they think they are not transparent with money. They usually trust in small projects and with something in return, like crowdfunding model. On the other hand, the usual donors or the motivated,
        users that are used to donate and they usually collaborate with well known platforms.<br>
        After the research, the main goals of the site were:<br/>
        <br>
        <ol>
          <ul>
            Transparency
          </ul>
          <ul>
            Crowdfunding flow
          </ul>
          <ul>
            Engaging content
          </ul>
          <ul>
            To show process and results
          </ul>
        </ol>
      </h4>
    </br>
    <h3>Moodboards</h3>
    <h4>The essential keywords of this project are transparency, engaging experience and kids. My research in the touch and feel of the new website drove me to bright and flat colors to represent a closer approach to the children cause, big kids photos
      and powerful typography in a dark grey to be bold in the message to spread. I also found layout structures that were suitable for me, like colored cards or progress bars.</h4>
    <img src="../img/moodboard1-childline.png" alt="childline-moodbard"/>
    <img src="../img/moodboard2-childline.png" alt="childline-moodbard"/>
    <h3>Colors</h3>
    <h4>The palette is composed by 5 main bright and vibrant colors, that remind me of an indian textile, joyful and playful. The color is also present in bitonal photographies of children, mixed with a navy blue. The palette completes with a dark and a
      light grey and the white color that gives more power to the whole palette.
    </h4>
    <img src="../img/palette-childline.png" alt="colors-childline"/>
    <h3>Photography</h3>
    <h4>The approach to the whole website was to be transparent but bold. The content of the projects has been also built around these two concepts. Photography bounce between no-filtered colors, to show the real experience of projects, and duotonal
      colors, a more aspirational approach to the concept of joy in childhood.</h4>
    <img src="../img/photos-style-childline.png" alt="photography-childline"/>
    <h3>Typography</h3>
    <h4>Brandon Grotesque is used mainly in high case as the display typography. Its attitude combined with its humanistic approach makes it perfect for strong messages in an NGO platform. For the reading texts, Open Sans is a clear, modern and clean
      typography that allows to read long texts.</h4>
    <img src="../img/tipo-childline.png" alt="tipo-childline"/>
    <h3>Mobile UI Design</h3>
    <h4>Based on our target user, I wanted to keep the site simple, clear and transparent. I started with a mobile-first version were projects and donations with rewards are highlighted.</h4>
    <img src="../img/pantalles-childline.jpg" alt="childline-screens"/>
    <h3>Payment flow</h3>
    <h4>Payment flow is a key flow in the website. Users choose a project to donate and receive a reward and then they can see how the NGO distribute the money. The transparency is visualy shown as user can
      see that part of the donation allows to pay salaries or office expenses, to keep the NGO structure alive. Also users can decide to keep their reward or increase the children help not taking it</h4>
    <img src="../img/payment-pantallas.png" alt="payment-screens"/>
    <h3>Interactions</h3>
    <h4>Interactions are important to focus the attention of the user in some important parts of the flow. I have highlighted the project goals and the progress bars of the campaigns with
      animations.</h4>
    <img src="../img/childline-india-detail.gif" alt="interaction-gif"/>
  </div>
</div>
</section>
