---
title: Camaloon
---
<section class="container">

    <div class="container-small">
        <div class="description">
            <h3>CAMALOON</h3>
            <h4>Camaloon is a multidisciplinary Barcelona-based startup that offers users the opportunity
            to customise and purchase their own products online (badges, stickers, mobile phone cases, t-shirts,
            tote bags and more) as well as browse and buy artworks by acclaimed designers. Camaloon means having
            passion for printing, using only the highest quality materials and having access to the most advanced
            production techniques. The company’s vision is to empower people to stand out from the crowd by
            democratizing access to design and designing.</h4>
            <img src="../img/camaloon-diseños-exclusivos.jpg" alt="camaloon-diseños-exclusivos" />

            <h3>Gallery shop & Artists Recruitment</h3>
            <h4>The Gallery is Camaloon’s online shop, curated by myself, where thousands of designs by cutting
            edge designers can be found and used by customers to personalise a wide range of products. The project
            began with the wide selection of top-rated illustrators and elaborating a business plan, working with
            templates and vectors to transform select designs into products, etc. Webpages were built to showcase
            the works, initially ordered by product category and theme, although users can additionally search for
            artists by name.</h4>
            <img src="../img/camaloon-gallery-2.jpg" alt="camaloon-gallery-2" />

            <h3>Atelier Content Library</h3>
            <h4>The Atelier is Camaloon's customising platform where users create their own products with their
            chosen designs. Not everybody has design tools at their disposal and/or knowledge to create complex
            designs, so my aim was to provide users with a wide selection of icons, clipart files and templates
            to make their designing process faster and more enjoyable with high visual value. For ease of use,
            the Atelier Content Library has been ordered by use cases (weddings, parties, work theme, restaurants,
            etc.) and also by theme (ribbons, frames, animals, tattoos, emojis, etc.). The Library can be used as
            follows:</h4>
            <h4>1/ Select Use Case.</h4>
            <h4> 2/ Select Favorite Template. </h4>
            <img src="../img/camaloon-atelier.jpg" alt="camaloon-atelier" />
            <h4>3/ Once the selected template has been dragged and dropped on a product, the colour of
            any of the elements can be edited as well as their size and/or position.</h4>
            <h4>4/ There is also a wide selection of fonts and font colours to choose from.</h4>
            <img src="../img/camaloon-atelier-2.jpg" alt="camaloon-atelier-2" />

        </div>
    </div>

</section>
