---
title: Mixed
---
<section class="container">

    <div class="container-small">
        <div class="description">
            <h3>MIXED REPUBLIC</h3>
            <h4>Mixed Republic is a platform dedicated to supporting and amplifying the world of handmade printing,
            both raising awareness online and offering space and equipment offline. The company encourages and
            facilitates the realisation of new artistic proposals and slow production techniques that connect the
            mind and heart through the hands.</h4>
            <h5>Research & Strategy, Content Managing, Branding, Logo Design, Collaterals & Web Design.</h5>
            <img src="../img/logo-low.jpg" alt="logo-low" />
            <h3>Moodboard</h3>
            <h4>We were seeking to identify an aesthetic approach that evoked the classic handmade printing process.
            I took repetitive images such as a stamped border, the CMYK color mode and bold, easy-to-print
            typography.</h4>
            <img src="../img/mixed-moodbard.jpg" alt="mixed-moodbard" />
            <h3>Colours</h3>
            <h4>I chose white and black combined with pixelated photographs – an element that is commonly used
            in silkscreen printing. To be able to print a photo using this popular handmade printing technique,
            you have to convert the image to CMYK dots, resulting in an illusion of a picture that uses the entire
            colour spectrum. This CMYK pixelated background has become the most recognisable element of the
            Mixed Republic brand.</h4>
            <img src="../img/colors-mixed.jpg" alt="colors-mixed" />
            <h3>Logo marks</h3>
            <h4>The pixelated version would be used universally - except when a given format would not allow it.
            In such cases, it would be necessary to use the positive or negative version of the black and white
            logo.</h4>
            <img src="../img/logos-mixed.jpg" alt="logos-mixed" />
            <h3>Typography</h3>
            <h4>Raleway is a great font for its boldness and cleanness in particular its Light version,
            which is both clear and readable.</h4>
            <img src="../img/tipo-mixed.png" alt="tipo-mixed" />
            <h3>Collaterals</h3>
            <img src="../img/mr-targetas.jpg" alt="mr-targetas" />
            <img src="../img/mixed-totes.jpg" alt="mixed-totes" />
            <h3>Web page</h3>
            <img src="../img/mixed-computer.jpg" alt="mixed-computer" />
            <img src="../img/mixed-pantallazo.2.jpg" alt="mixed-pantallazo2" />
        </div>
    </div>

</section>
