---
title: Art&co.s
---
<section class="container">

    <div class="container-small">
        <div class="description">
            <h3>Art & co.</h3>
            <h4>Art&co. is a concept cafe that combines artisanal coffee with the visual pleasure of intelligent
            design and artwork. It aspires to be a peaceful place to work, meet with friends or enjoy a good
            breakfast while enveloping customers in pure visual beauty.</h4>
            <h5>Research & Strategy, Art Direction, Branding, Logo Design, Collateral and Web Design.</h5>
            <img src="../img/exterior-art.jpg" alt="exterior-art" />
            <h3>Moodboard</h3>
            <h4>The space has an old-fashioned feel, with interiors crafted of untreated wood, vintage flower
          pots and stacks of newspapers. I had these elements in mind when creating a visual identity that
          combines both old and modern, monochrome and colour, vintage-inspired patterns and more modern,
          geometrical ones.</h4>
            <img src="../img/moodboard-art-web.jpg" alt="moodboard-art-web" />
            <h3>Colours</h3>
            <h4>The palette is made up of patterns, dark greys and whites. These patterns work well as a
            background with the dark grey or white version of the logo, or as the interior colour of the
            small ampersand when the logo appears on white surfaces.</h4>
            <img src="../img/colores-art.jpg" alt="colores-art" />
            <h3>Logo marks</h3>
            <h4>The logo can be separated in two elements: the ampersand and the rest of the text.
            The “&” has a different personality to the rest of the logo, being calligraphic and more poetic.
            It’s the element that unites all the logo’s various elements. The logo can be shown as a whole,
            but the patterned “&”can be used on smaller surfaces or as a detail.</h4>
            <img src="../img/logos-art-co.jpg" alt="logos-art-co" />
            <h3>Typography</h3>
            <h4>Brandon Grotesque it is the perfect font for the calligraphic element. It is elegant at the
            same time as being functional. Besides its contemporary feel, its form is true to the typical
            typography used in the 1920s and is intensely readable.</h4>
            <img src="../img/tipo-brandon.png" alt="tipo-brandon" />
            <h3>Collaterals</h3>
            <h4>Coming soon...</h4>

        </div>
    </div>

</section>
