---
title: Kiwi
---
<section class="container">

    <div class="container-small">
        <div class="description">
            <h3>KIWI KITCHEN</h3>
            <h4>Kiwi Kitchen is an exquisite Barcelona-based brand of pies with authentic New Zealand taste.
            Kiwi Kitchen’s pies are made with the finest natural ingredients using both traditional and modern
            recipes. The company’s vision is to bring this authentic and simple food item to new markets,
            starting in Barcelona. Simple, natural and easy were the brand values at play when I was developing
            the company’s branding and logo design.</h4>
            <h5>Research & Strategy, Art Direction, Branding, Logo Design, Collaterals and Web Design.</h5>
            <img src="../img/etiquetas-kiwi.jpg" alt="etiquetas-kiwi" />

            <h3>Moodboard</h3>
            <h4>Kiwi Kitchen’s branding is based on the simplicity of the pies: easy to eat wherever you are,
            beautifully rounded and filled with goodness. The client also wanted to express the origins of the
            pies in a fresh, informal way. My research began by looking at funny and irregular fonts, a vibrant
            colour palette and simple illustrations featuring elements from the natural world.</h4>
            <img src="../img/moodboard-kiwi.jpg" alt="moodboard-kiwi" />

            <h3>Colours</h3>
            <h4>The main logo colour is luminous yellow blended with its complementary violet. This combination
            conveys fun and yumminess. Bright pink is used to emphasize elements. A wider palette of colours is
            used for recipe text.</h4>
            <img src="../img/colors-kiwi.jpg" alt="colors-kiwi" />

            <h3>Logo marks</h3>
            <h4>The yellow and violet version of the logo is used on white backgrounds. There are also black and
            white variations of the logo for use on other backgrounds such as a cardboard texture or the different
            block colours used for recipes.</h4>
            <img src="../img/logos-kiwi.jpg" alt="logos-kiwi" />

            <h3>Typography</h3>
            <h4>I've chosen Slackey for its playful effect and the dynamic contrasts between its upper and lower
            cases, and Georgia for smaller lettering as its simple and elegant form works perfectly for fine
            print.</h4>
            <img src="../img/tipo-kiwi.png" alt="tipo-kiwi" />

            <h3>Collaterals</h3>
            <img src="../img/muntatge-kiwi.png" alt="muntatge-kiwi" />
            <img src="../img/kiwi-comp.jpg" alt="kiwi-comp" />

            <h3>Web page</h3>
            <h4>Coming soon...</h4>

        </div>
    </div>

</section>
