---
title: Gather
---

<section class="container px-4 mx-auto">
  <div class="max-w-5xl mx-auto">
    <h3 class="text-center font-bold mb-8 text-3xl">Gather</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Gather is a job search engine made for developers and UX/UI designers. It
      allows to search and find a new job faster, easier and more effective by
      matching your professional experience, skills and personal traits with the
      perfect role in the perfect company.
    </p>

    <figure class="text-center mb-32">
      <figcaption class="text-gray-600 font-futura mb-6">
        UX Research & Strategy, Branding, Logo Design, UI & Interactions
      </figcaption>
      <img
        class="mx-auto"
        src="../img/trash-gather.gif"
        alt="trash interaction"
      />
      <img
        class="mx-auto"
        src="../img/pantallas-gather-app-gif.gif"
        alt="interaction-gif"
      />
    </figure>

    <h3 class="text-center font-bold mb-8 text-3xl">
      User research & User insights
    </h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      I made a lot of research by interviewing developers, designers and
      recruiters and iterating the applied results in my product. For developers
      and designers, the main problem was the hard work implied in searching for a
      new job (to fill the profile and experience in 5 platforms in average), and
      the impersonality and coldness of the process. They wanted to know more
      about companies and waste less time. Recruiters know how difficult is to
      find a good professional in these fields and want an accurate tool to find
      the perfect candidate.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/research-questions-gather.png"
      alt="research questions"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">User personas</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      After the interviews and surveys I ended with some information about my
      different types of users and their pain points and needs. Once all these
      information was processed I started building my user personas, that had been
      present to develop my first prototype.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/user-personas-gather.png"
      alt="user personas"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Benchmarking</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Another important research was through competitors and similar projects. I
      also took some inspiration of other services and apps that could help me to
      understand how to solve my users main problems.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/benchmarket-gather.png"
      alt="benchmarking gather"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Candidate Flowchart</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      With my user persona and my competitors study, I started developing a
      flowchart, or user flow. In fact, I needed two of them, to understand the
      interaction between candidate and recruiter and their different uses.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/flowchart-gather.png"
      alt="flowchart candidate"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Recruiter Flowchart</h3>
    <img
      class="mx-auto mb-32"
      src="../img/flowchart2-gather.png"
      alt="flowchart recruiter"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Moodboards</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      The essence of this product is its clearness and efficiency. I also wanted
      to highlight a friendly feeling cause one of the main cores of the product
      is the closer treatment between recruiter and candidate. Fresh colors and
      drawings are present in all the app. Gather also refers to seed with effort
      and then gather the results to have the best job, so the app is full of
      signs related with field harvest.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/moodboard-gather.png"
      alt="gather-moodbard"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Colors</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      The palette is vibrant and energetic, with colors that combine between them
      without problems. Green is the color of the fields but also of hope and
      peaceful attitude. Playful blue and pink highlight the important parts of
      the app and blue-greys help to reduce the huge impact of bright colors when
      necessary.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/palette-gather.png"
      alt="colors-gather"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Typography</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Proxima Nova has been chosen for its neutrality and readability. The product
      is oriented to designers too, so it must be appealing but not too relevant.
    </p>
    <img class="mx-auto mb-32" src="../img/tipo-gather.png" alt="tipo-gather" />

    <h3 class="text-center font-bold mb-8 text-3xl">Icons</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      I selected line icons, simple but elegant, because icons are a great part of
      the app. They help not only to guide the user but to get rid of the boredom
      that normally we find in job lists.
    </p>
    <img class="mx-auto mb-32" src="../img/icons-gather.png" alt="icons-gather" />

    <h3 class="text-center font-bold mb-8 text-3xl">Mobile UI Design</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Based in the idea of clearness and effectiveness, the app is very visual and
      easy to use. It is made to perform in the phone, so I tried to get rid off
      of long scrolls and made it intuitive.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/pantalles-gather.jpg"
      alt="gather-screens"
    />

    <h3 class="text-center font-bold mb-8 text-3xl">Desktop version</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Recruiters work everyday searching for the perfect candidates. I thought of
      them doing a desktop version to work faster and more comfortable.
    </p>
    <img class="mx-auto mb-32" src="../img/desktop.gif" alt="desktop-recruiter" />

    <h3 class="text-center font-bold mb-8 text-3xl">Interactions</h3>
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      Interactions are a main part of the app. All the cards have different
      functions (delete, set an interview, apply to a job) and I also took the
      idea to slide right or left from Tinder, to like or dislike the offer. Here
      I show you also the walkthrough of a user that is going to join in the app.
    </p>
    <img
      class="mx-auto mb-32"
      src="../img/gather-walkthrough-web.gif"
      alt="walkthrough-gif"
    />
    <p class="text-center text-2xl mx-auto text-gray-800 mb-8">
      And the creation of the user profile to start using the app.
    </p>
    <img
      class="mx-auto"
      src="../img/create-profile-gather.gif"
      alt="profile-gif"
    />
  </div>
</section>
