#about h3 {
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  color:#00a988;
  margin-top:80px;
  line-height: 40px;
}
  @media(max-width:750px){
    #about h3{
      font-size:26px;
      line-height: 32px;
      margin-top: 30px;
    }
  }

.container-pattern {
  background-image:url("../img/pattern.png");
}

.container-pattern h4 {
  font-family: Futura;
  font-size: 22px;
  text-align: center;
  color: #3f3f3f;
  padding-top: 30px;
}

.square-about {
  background-color: white;
  margin: 20px 0;
}

.content-about {
  padding:20px;
  color: #3f3f3f;
}

.content-about h5 {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color:#3f3f3f;
}

.content-about h6 {
  font-family: Georgia;
  font-size: 18px;
  line-height: 22px;
  padding: 4px;
  color: #3f3f3f;
}
.skills h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.skills .row {
  text-align: right;
}
  @media(max-width:750px){
    .skills .row{
      text-align: left;
  }
}
.skills .ux {
  margin-top: 50px;
}

.skills .line {
  height: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:#00a988;
}

.row-description {
  margin-top: 100px;
}

.download-button a {
  font-size: 16px;
  color: #e3a800;
  margin-top:0px;
}

.col-md-8 h4 {
  color:#00a988;
  font-family:Georgia;
  font-size: 30px;
  line-height: 38px;
}

  @media(max-width:750px){
  .col-md-8 h4 {
    font-size:22px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  img {
    margin-top: 40px;
  }
}
