body {
    font-family: "Futura", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  width: 50%;
  display: block;
  margin-bottom: 15px;
  border:1px solid #e3a800;
  padding: 4px 8px;
}
textarea {
  width:100%;
}
button {
  background-color:#00a988;
  border: none;
  color:white;
  -webkit-font-smoothing: antialiased;
  padding:10px 16px;
  margin-bottom: 20px;
}


.container-small{
  width:80%;
  margin:0 auto;
}
.logo {
    margin-top: 45px;
}
.logo h2 {
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 300;
    line-height: 20px;
    color: #00a988;
    -webkit-font-smoothing: antialiased;
}
.logo h4 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #3f3f3f;
    -webkit-font-smoothing: antialiased;
}
.nav-categories {
    list-style-type: none;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 0;
    color: #3f3f3f;
    margin-top: 55px;
    padding: 0;
}
.nav-categories li {
    display: inline-block;
}
.nav-categories li a {
    display: block;
}
.nav-categories a {
    color: #3f3f3f;
    text-decoration: none;
    margin: 10px;
    padding: 0;
}
.nav-categories a:hover,
.nav-categories a:active,
.nav-categories .active {
    color: #e3a800;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
footer i {
    color: #e3a800;
}
footer.container h4 {
    color: #e3a800;
    font-size: 12px;
    font-weight:300;
}
