$color-sky: #10a3e0;

* {
  -webkit-font-smoothing: antialiased;
}

.font-futura {
  font-family: "Futura";
}

.font-georgia {
  font-family: "Georgia";
}

.tracking-extra-wide {
  letter-spacing: 0.17em;
}

.pb-full {
  padding-bottom: 100%;
}

.text-sky {
  color: $color-sky;
}

.hover\:text-sky:hover {
  @extend .text-sky;
}

.bg-sky {
  background-color: $color-sky;
}

.bg-sky-80 {
  background-color: rgba($color-sky, 0.8);
}
