#projects .container-small {
    height: 500px;
}

$transition-duration: 300ms;

//això és una a(link)
.square {
    position: relative;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 169, 136, 0.80);
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      content: "";
      padding-top: 100%;
    }

    &:hover {
      transition: background-color $transition-duration linear;
      text-decoration: none;
      background-color: rgba(0, 169, 136, 0);
    }

    &:before {
      background-color: inherit;
      content: "";
      top: 0; left: 0; right: 0; bottom: 0;
      position: absolute;
    }

    &-mixed {
        background-image: url("../img/mr-targetas-cuadrado.jpg");
    }
    &-artco {
        background-image: url("../img/exterior-art-quadrat.jpg");
    }
    &-kiwi {
        background-image: url("../img/muntatge-kiwi.png");
    }
    &-camaloon {
        background-image: url("../img/escriptori-camaloon.jpg");
    }
}
.content {
    text-align: center;
    opacity: 1;
    transition: opacity $transition-duration linear;
    z-index: 1;
    padding: 30px;
}
.square:hover .content {
    opacity: 0;
}
.content h4 {
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}
.content h5 {
    font-family: Georgia;
    font-style: italic;
    color: white;
    font-size: 18px;
}
