#projects .container-small {
    height: 500px;
}
.square {
    width: 100%;
    height: 590px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.content {
    text-align: center;
}
.square:hover .content {
    display: none;
}
.content h4 {
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}
.content h5 {
    font-family: Georgia;
    font-style: italic;
    color: white;
    font-size: 18px;
}
.square-mixed {
    background: linear-gradient(rgba(0, 169, 136, 0.80), rgba(0, 169, 136, 0.80)), url("../img/mr-targetas-cuadrado.jpg");
}
.square-mixed:hover {
    background: url("../img/mr-targetas-cuadrado.jpg");
}
.square-artco {
    background: linear-gradient(rgba(0, 169, 136, 0.80), rgba(0, 169, 136, 0.80)), url("../img/exterior-art-quadrat.jpg");
}
.square-artco:hover {
    background: url("../img/exterior-art-quadrat.jpg");
}
.square-kiwi {
    background: linear-gradient(rgba(0, 169, 136, 0.80), rgba(0, 169, 136, 0.80)), url("../img/muntatge-kiwi.png");
}
.square-kiwi:hover {
    background: url("../img/muntatge-kiwi.png");
}
.square-camaloon {
    background: linear-gradient(rgba(0, 169, 136, 0.80), rgba(0, 169, 136, 0.80)), url("../img/escriptori-camaloon.jpg");
}
.square-camaloon:hover {
    background: url("../img/escriptori-camaloon.jpg");
}
