#work-with-me h3 {
  font-family: Georgia;
  -webkit-font-smoothing: antialiased;
  font-size: 32px;
  color:#00a988;
  margin-top:80px;
  line-height: 40px;
}

.container-small h3 {
  margin-bottom: 40px;
}

.text-center h5 {
  color:#3f3f3f;
  font-size: 15px;
}
