@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-sky-80 {
  background-color: rgba(theme('colors.sky'), 0.8);
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  @apply .font-georgia;
}

.tracking-extra-wide {
  letter-spacing: 0.17em;
}
