---
title: About
---
<section class="container">
  <div class="container-small">
    <h3>I think strategically to create <strong>powerful</strong>
              branding, <strong>bold </strong>corporate identity and
              <strong>outstanding </strong>web communication. I develop conceptual and
              aesthetic design to make your project <strong>grow</strong>.
              <br>_
            </h3>

  </div>
</section>


<div class="container-pattern">
    <div class="container">
        <h4>WHAT CAN I DO FOR YOU?</h4>
        <div class="col-md-4">
            <div class="square-about">
                <div class="content-about">
                    <h5>BRANDING STRATEGIES</h5>
                    <h6>Let's study the market by taking a look at competitors. Let's pinpoint your
                          target audience and find the best way to talk to them. Let’s build an emotional
                          connection through tone, look and feel.</h6>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="square-about">
                <div class="content-about">
                    <h5>CORPORATE IDENTITY</h5>
                    <h6>Create your brand, make it shine, bring out its uniqueness, polish its image.
                            Your brand is not just a logo, it is also typography, text hierarchies, colour
                            palettes and collaterals. It is your story.</h6>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="square-about">
                <div class="content-about">
                    <h5>WEB DESIGN</h5>
                    <h6>Make your brand significant for your customers. Make your website a fluid user
                          experience. From user personas to navigation, let’s study it to make your brand stand out
                          from the competition.</h6>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="container-small skills">
        <h4>MY TECH SKILLS</h4>

        <div class="row">
            <div class="col-md-4">
                <h5>UX & UI DESIGN</h5>
            </div>

            <div class="col-md-8">
                <div class="line" style="width:80%">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <h5>PHOTOSHOP</h5>
            </div>
            <div class="col-md-8">
                <div class="line" style="width:90%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h5>ILLUSTRATOR</h5>
            </div>
            <div class="col-md-8">
                <div class="line" style="width:85%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h5>INDESIGN</h5>
            </div>
            <div class="col-md-8">
                <div class="line" style="width:75%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h5>HTML & CSS</h5>
            </div>
            <div class="col-md-8">
                <div class="line" style="width:70%">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row-description">
        <div class="col-md-8">
            <h4>“I’m a <strong>curious, passionate </strong>researcher, committed to great work and attaining the best results.
                That’s why my career began as creative recruiter, content manager and cultural events producer.
                Over the years, I’ve had experience working with creative start ups, major art institutions and
                exciting design projects. All in all, I’ve developed a <strong>strong aesthetic</strong> and learned strategies
                as how to best connect <strong>specific projects</strong> to <strong>specific audiences</strong>.”</h4>
            <div class="download-button">
                <a href="./img/aida-nogues-cv.pdf"> DOWNLOAD MY CV HERE!</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="img/foto-aida.jpg" alt="foto-aida" />
        </div>
    </div>
</div>
