---
title: Projects
---
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="square square-mixed" href="./projects/project-mixed.html">

                <div class="content">

                    <h4>MIXED REPUBLIC</h4>
                    <h5>-Logo,branding & web design-</h5>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="square square-artco" href="./projects/project-artco.html">
                <div class="content">
                    <h4>ART & CO.</h4>
                    <h5>-Logo & branding-</h5>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="square square-kiwi" href="./projects/project-kiwi.html">
                <div class="content">
                    <h4>KIWI KITCHEN</h4>
                    <h5>-Logo,branding & web design-</h5>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a class="square square-camaloon" href="./projects/project-camaloon.html">
                <div class="content">
                    <h4>CAMALOON</h4>
                    <h5>-Content management, design & artists recruitment-</h5>
                </div>
            </a>
        </div>

    </div>
</section>
