---
title: Projects
---

<section class="container px-4 mx-auto">
  <div class="grid md:grid-cols-2 gap-4 md:gap-8">
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-gather.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/square-gather1.jpg"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">GATHER</h4>
        <h5 class="text-lg italic">-UX research, product design & UI-</h5>
      </div>
    </a>
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-childline.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/square-childline.jpg"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">CHILDLINE INDIA</h4>
        <h5 class="text-lg italic">-UX research, strategy & UI-</h5>
      </div>
    </a>
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-mixed.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/mr-targetas-cuadrado.jpg"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">MIXED REPUBLIC</h4>
        <h5 class="text-lg italic">-Logo,branding & web design-</h5>
      </div>
    </a>
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-dancemedia.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/first-image-dancemedia.jpg"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">DANCEMEDIA</h4>
        <h5 class="text-lg italic">-UX Strategy & UI-</h5>
      </div>
    </a>
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-kiwi.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/muntatge-kiwi.png"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">KIWI KITCHEN</h4>
        <h5 class="text-lg italic">-Logo,branding & web design-</h5>
      </div>
    </a>
    <a class="relative pb-full rounded-sm overflow-hidden" href="./projects/project-camaloon.html">
      <img
        class="absolute w-full h-full inset-0 object-cover border"
        src="../img/escriptori-camaloon.jpg"
      />
      <div
        class="flex flex-col text-center items-center justify-center absolute inset-0 bg-sky-80 transition duration-500 ease-in-out hover:bg-transparent hover:opacity-0 text-white"
      >
        <h4 class="text-2xl font-futura mb-1">CAMALOON</h4>
        <h5 class="text-lg italic">
          -Content management, design & artists recruitment-
        </h5>
      </div>
    </a>
  </div>
</section>
