---
title: Work with me
---
<section class="container">
    <div class="container-small">
        <h3>Do you want to bring your project to life? I’m excited to help
          you make it together.<br>
          <strong>Let’s talk!</strong></h3>
        <form action="https://formspree.io/aidanogues@gmail.com" method="POST">

            <input type="text" placeholder="YOUR NAME" />
            <input type="email" name="email" placeholder="YOUR EMAIL" />
            <input type="text" name="_subject" placeholder="SUBJECT" />
            <input type="text" name="_gotcha" style="display:none" />
            <textarea rows="10" name="message" placeholder="DESCRIBE YOUR PROJECT (requirements, budget, deadline, objectives...)"></textarea>

            <div class="text-center">
                <button>SEND IT TO ME &nbsp;</button>

                <h5>If you prefer, you can email me for more information or just to
                  say hello at</h5>
                <h5>AIDANOGUES@GMAIL.COM</h5>
            </div>
        </form>
    </div>
</section>
