---
title: Work with me
---

<section class="container px-4 mx-auto">
  <div class="max-w-4xl mx-auto">
    <p class="text-3xl mb-8 leading-snug">
      Do you want to bring your project to life?<br />
      I’m excited to help you make it together.<br />
      <strong>Let’s talk!</strong>
    </p>

    <form
      class="flex flex-col font-futura text-lg"
      action="https://formspree.io/aidanogues@gmail.com"
      method="POST"
    >
      <input
        class="border border-black px-4 py-3 mb-4"
        type="text"
        placeholder="Your name"
      />
      <input
        class="border border-black px-4 py-3 mb-4"
        type="email"
        name="email"
        placeholder="Your email"
      />
      <input
        class="border border-black px-4 py-3 mb-4"
        type="text"
        name="_subject"
        placeholder="Subject"
      />
      <input
        class="border border-black px-4 py-3 mb-4"
        type="text"
        name="_gotcha"
        style="display:none"
      />
      <textarea
        class="border border-black px-4 py-3 mb-6"
        rows="10"
        name="message"
        placeholder="Describe your project (requirements, budget, deadline, objectives...)"
      ></textarea>
    </form>

    <button
      class="mx-auto inline-block bg-sky text-white px-16 py-3 mb-16 font-futura"
    >
      SEND IT
    </button>

    <div class="text-center text-2xl">
      <div>
        If you prefer, you can email me for more information or just to say
        hello at
      </div>
      <a
        class="font-futura text-sky underline"
        href="mailto:aidanogues@gmail.com"
        >aidanogues@gmail.com</a
      >
    </div>
  </div>
</section>
